body {
    font-family: 'Open Sans', sans-serif;
}

.flex {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.card {
    width: 240px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.detail {
    vertical-align: bottom;
    margin-top: 30px;
}

img {
    display: block;
    margin: auto;
}

.heading1 {
    font-size: 27px;
    color: #80C080;
    margin-bottom: 18px;
}

.description {
    height: 100px;
    font-size: 16px;
}

.highlight {
    font-size: 19px;
}

@media only screen and (max-width: 768px) {
    .flex {
        display: block;
        margin: auto;
        width: 50%;
    }
}