.main-image { grid-area: left; }
.main-article { grid-area: top; }
.id-img { grid-area: bottom-left}
.details { grid-area: bottom;}
.dropdown {grid-area: bottom-right;}

.container {
    display: inline-grid;
    grid-template-areas:
    'left top top top'
    'left bottom-left bottom bottom-right';
    margin: 50px;
    width: 550px;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: white;
}

body {
    background-color: black;
}

h1 {
    font-size: 20px;
    font-weight: 700;
    padding: 20px;
}

.line {
    font-size: 16px;
    color: darkgrey;
    padding: 0 20px;
}

.id-img {
    padding-left: 20px;
    margin-top: 30px;
    width: 1px;
}

.name {
    font-size: 14px;
    margin-top: 40px;
    line-height: 1.3;
}

.myname {
    font-weight: 100;
}

.data {
    color: darkgrey;
}
.dropdown {
    margin-top: 40px;
    margin-left: 40px;
}

footer {
    display: flex;
    justify-content: center;
    margin: 50px;
}

a {
    padding: 20px;
}